{*ドライバー一覧画面*}

<h1>{$smarty.const.COMMON_DRIVERS}</h1>
<a name="top">&nbsp;</a>

<a href="index.php?action=putDriver&company_id={$company_id}" >ドライバーを追加する</a>
<br> 
{*複数ページへ渡る場合のリンク*}
{foreach from=$links item="links"}
{$links}
{/foreach}
<table border="1" class="thread">
<tr>
<td width="25px">ID</td>
<td width="35%">{$smarty.const.COMMON_NAME}</td>
<td>{$smarty.const.COMMON_CREATED}</td>
<td width="60px">{$smarty.const.BRANCH_NAME}</td>
<td>{$smarty.const.COMMON_JYUSYO}</td>
<td>{$smarty.const.COMMON_UPDATE}</td>
<td></td>
</tr>
{foreach from=$data item="data"}

<tr>

{*各項目はescapeでサニタイズ*}
<td class="con_odd">{$data.driverId|escape}</td>
<td class="con_even">{$data.last_name|escape} {$data.first_name|escape}</td>
<td class="con_odd">{$data->created|escape}</td>
<td class="con_even">{$data->car_type|escape}</td>
<td class="con_odd">{$data->erea|escape}</td>
<td class="con_even">{$data->updated|escape}　</td>
<td>
{*データ削除時のメッセージ*}
{literal}
<script type="text/javascript">
<!--
function check(){
	return confirm("このデータを削除して、本当によろしいですか？削除すると、元に戻すことはできません。");
}
//-->
</script>	
{/literal}
<FORM METHOD="POST" action="index.php?action=viewDriver&id={$data->id}" 
>
<input type="submit" value="閲覧">
</FORM>

<FORM METHOD="POST" action="index.php?action=deleteDriver&id={$data->id}" >
<input type="submit" value="削除"
{literal}onclick="return check()"{/literal}
>
</FORM>

<FORM METHOD="POST" action="index.php?action=putDriver&driver_id={$data->id}&company_id={$data->company_id}" 
>
<input type="submit" value="編集">
</FORM>

</td>
</tr>
{*配列が空だった場合*}
{foreachelse}
<tr>
<td colspan="10">
現在データがありません。
</td>
</tr>
{/foreach}
</table>

