{*ルート　コピー確認画面*}
<h1>{$smarty.const.COMMON_CONFIRM}</h1>

<p>{$copied_driver_last_name}&nbsp;{$copied_driver_first_name}さんの{$copied_date}のデータを下記にコピーします。</p>

<FORM METHOD="POST" action="index.php?action=/root/putCopyRootDb"
	name="profile">

	<div class="item_name">
		<font color="#FF0000">{$smarty.const.COMMON_INDISP}</font>
		{$smarty.const.DELIVER_DATE}
	</div>
	<div>
		{$date|escape} <input type="hidden" name="date"
			value="{$date|escape}">
	</div>

	<div class="item_name" >
		<font color="#FF0000">{$smarty.const.COMMON_INDISP}</font>
		{$smarty.const.COMMON_DRIVER}</div>
	<div>
		{$driver_name|escape} 
	</div>
		<input type="hidden" name="driver_id"
			value="{$driver_id|escape}">

	<div class="item_name">
		{$smarty.const.DRIVER_OTHER}
	</div>
	<div>
		{$information|escape} <input type="hidden" name="information"
			value="{$information|escape}">
	</div>


	<div align="center">
		<input type=hidden name="company_id" value="{$company_id|escape}"> 
		<input type=hidden name="copied_driver_id" value="{$copied_driver_id|escape}"> 
		<input type=hidden name="copied_date" value="{$copied_date|escape}">
		<button class="btn btn-large btn-ocher" type="submit" value="{$smarty.const.COMMON_SUBMIT}">
		{$smarty.const.COMMON_SUBMIT}</button> 
	</div>
</form>
