{*ドライバー業務日誌目次画面*}

<h1>ルート一覧</h1>
		<a href="index.php?action=/transport_route/putRoute&company_id={$company_id}">
	 		ルート新規追加
	 	</a>　
	 	<a href="index.php?action=/transport_route/putRoute&company_id={$company_id}" >
	 		ドライバーへのルート一括設定
	 	</a>　
	 	<a href="index.php?action=/transport_route/routeCopy&company_id={$company_id}" >
	 		一時的なルート及びエリアのコピー
	 	</a>　
		<a href="index.php?action=/transport_route/viewRootAreas&company_id={$company_id}">ドライバールート一覧</a>

<table class="middle_table report_table">

	<tr>
		<th>ルート一覧</th>
		<th>編集/削除</th>
	</tr>
	<tr>
		<td><a href="">Aルート</a></td>
		<td>
			<img src="http://doutaikanri.com/is_in_service//templates/image/icon_edit.gif" alt="編集" title="編集">
			<a href=""><img src="http://doutaikanri.com/is_in_service/templates/image/icon_delete.gif" alt="消去" title="消去"></a>
		</td>
	</tr>
	<tr>
		<td><a href="">Bルート</a></td>
		<td>
			<img src="http://doutaikanri.com/is_in_service//templates/image/icon_edit.gif" alt="編集" title="編集">
			<a href=""><img src="http://doutaikanri.com/is_in_service/templates/image/icon_delete.gif" alt="消去" title="消去"></a>
		</td>
	</tr>
	<tr>
		<td><a href="">Cルート</a></td>
		<td>
			<img src="http://doutaikanri.com/is_in_service//templates/image/icon_edit.gif" alt="編集" title="編集">
			<a href=""><img src="http://doutaikanri.com/is_in_service/templates/image/icon_delete.gif" alt="消去" title="消去"></a>
		</td>
	</tr>

</table>
