{*ルート、エリア一覧*}
<h1>ドライバールート、エリア一覧</h1>
<div class="div_list">
<div>
	<!-- <form method="get" action="index.php">
			<input type="text" name="query" value="{$query}" size=20>
			<input type="hidden" name="company_id" value={$company_id}>
			<input type="hidden" name="action" value="/destination/viewDestinations">
			<input type="submit" value="検索">
	</form> -->
	</div>
	{if $data}
	{*複数ページへ渡る場合のリンク*}
	{foreach from=$links item="links"}
		{$links}
	{/foreach}
	 {*PCの場合、テーブルで閲覧できる*}
	 <div align="left">
	 	<a href="index.php?action=/transport_route/putRoute&company_id={$company_id}">
	 		ルート新規追加
	 	</a>　
	 	<a href="index.php?action=/root/areaToDriverSetting&company_id={$company_id}" >
	 		ドライバーへのルート一括設定
	 	</a>　
	 	<a href="index.php?action=/transport_route/routeCopy&company_id={$company_id}" >
	 		一時的なルート及びエリアのコピー
	 	</a>　
	 	<a href="index.php?action=/transport_route/viewDriversRoutes&company_id={$company_id}">ルート一覧</a>
	 </div>
</div>
<table class="report_table">
	<tr>
		<th>No</th>
		<th>ドライバー名</th>
		<th>2017年4月26日のルート・エリアの個数</th>
		<th>2017年4月27日のルート・エリアの個数</th>
		<th>2017年4月28日のルート・エリアの個数</th>
	</tr>

	<tr>
		<th>1</th>
		<td>齊藤公一</td>
		<td><a href="">Aルート(20個所)</a>　

		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}
		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a>
		</td>
		<td><a href="">Bルート(25個所)</a>　

		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}
		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a>
		</td>
		<td><a href="">Cルート(15個所)</a>　
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}

		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a>
		 </td>
	</tr>
	<tr>
		<th>2</th>
		<td>田中正彦</td>
		<td><a href="">Bルート(25個所)</a>　
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}

		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a></td>
		<td><a href="">Aルート(20個所)</a>　
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}

		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a></td>
		<td></td>
	</tr>
	<tr>
		<th>3</th>
		<td>鈴木一郎</td>
		<td><a href="">Cルート(15個所)</a>　
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}

		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a></td>
		<td><a href="">Bルート(25個所)</a>　
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}

		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a></td>
		<td><a href="">Bルート(25個所)</a>　
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}

		 	<a href="" {literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a></td>

	</tr>
	<!-- {foreach from=$data item="data"}
	<tr>
		<td><a href="index.php?action=/destination/viewDestination&destination_id={$data.id}&company_id={$company_id}" >
			{$data.destination_name}
			</a></td>
		<td>{$data.address}</td>
		<td>{$data.category_name}</td>
		<td>{$data.information}</td>
		<td><a href="index.php?action=/destination/putDestination&destination_id={$data.id}&company_id={$company_id}" >
		{$smarty.const.EDIT_ICON}</a>
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//--><!--
			</script>
			{/literal}
		{/if}
		<a href="index.php?action=/destination/deleteDestination&id={$data.id}&company_id={$company_id}"
		{literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a></td>
	</tr>
	{*データがない場合*} {foreachelse}
	<div>{$smarty.const.TOP_NODATA}</div>
	{/foreach}
	  -->
</table>

{else if}
<div>{$smarty.const.TOP_NODATA}</div>
<div align="left"><a href="index.php?action=/destination/putDestination&company_id={$company_id}">配送先の追加はこちらから</a></div>
{/if}