{*今日を選択するフォーム*} 
	<input type="hidden" name="time_from_year" value="{php}echo(date('Y')){/php}"> 
	<input type="hidden" name="time_from_month" value="{php}echo(date('n')){/php}"> 
	<input type="hidden" name="time_from_day" value="{php}echo(date('d')){/php}"> 
	<input type="hidden" name="time_from_hour" value="0">
	<input type="hidden" name="time_from_minit" value="00">
	<input type="hidden" name="time_to_year" value="{php}echo(date('Y')){/php}"> 
	<input type="hidden" name="time_to_month" value="{php}echo(date('n')){/php}"> 
	<input type="hidden" name="time_to_day" value="{php}echo(date('d')){/php}"> 
	<input type="hidden" name="time_to_hour" value="23">
	<input type="hidden" name="time_to_minit" value="59">
