{* MAPのパラメーターの初期化とMAPの初期化*}

{literal}
	var zoom           = 17;
	var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
	var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
	var position       = new OpenLayers.LonLat(center_longitude, center_latitude).transform( fromProjection, toProjection);

	map = new OpenLayers.Map("map");
 	 
   	 	//MapBox
		var map_layer = new OpenLayers.Layer.OSM(
		    "My Map Layer",
		    [
		        "http://a.tiles.mapbox.com/v4/{/literal}{$smarty.const.MAPBOX_PROJECT_ID}{literal}/${z}/${x}/${y}.png?access_token={/literal}{$smarty.const.MAPBOX_ACCESS_TOKEN}{literal}",
		    ], {
		        attribution: "Tiles &copy; <a href='http://mapbox.com/'>MapBox</a>",
		        sphericalMercator: true,
		        wrapDateLine: true,
		        zoomControl: true,
		        zoomWheelEnabled:true,
		        maxzoom: 23
		        
		    }
		);
   	 	    
	map.addLayer(map_layer);
	    
	map.setCenter(position, zoom);	 
	 
{/literal}
					   	
