<FORM METHOD="POST" action="index.php?action={$target}" name="profile">

<div class="item_name"><b>{$smarty.const.DRIVER_STATUS}</b></div>
	<div>{if $status==1}{$working_status->action_1}{/if}
			{if $status==2}{$working_status->action_2}{/if}
			{if $status==3}{$working_status->action_3}{/if}
			{if $status==4}{$working_status->action_4}{/if}
			{if $status==5}{$smarty.const.DRIVER_OTHER}{/if}
<input type=hidden name="status" value="{$status|escape}"></div>

	<div class="item_name"><b>
	{$smarty.const.COMMON_JYUSYO}</b></div>
		<div>
			{$address}
 <input type=hidden name="address" value="{$address}">
 		</div>

	<div class="item_name"><b>{$smarty.const.COMMON_LAT}</b></div>
		<div>		
		  <div id="lat"></div>
			<input type="hidden" name="latitude">
		</div>

	<div class="item_name"><b>{$smarty.const.COMMON_LONG}</b></div>
		<div>
		  <div id="lng"></div>
			<input type="hidden" name="longitude" >
		</div>
 		
	<div class="item_name"><b>{$smarty.const.SPEED}</b></div>
		<div>
			{$speed|escape}
<input type=hidden name="speed" value="{$speed|escape}">
		</div>
		
	<div class="item_name"><b>{$smarty.const.DRIVER_SALES}</b></div>
		<div>
		{$sales|escape}
<input type=hidden name="sales" value="{$sales|escape}">
		</div>
		
	<div class="item_name"><b>{$smarty.const.DRIVER_MEMO}</b></div>
		<div>
			{$detail|escape}
<input type=hidden name="detail" value="{$detail|escape}"> 
		</div>
		
	<div class="item_name"><b>{$smarty.const.COMMON_DATETIME}</b></div>
	  	<div>
	  	{$time_from_year|escape}年
	  	{$time_from_month|escape}月
	  	{$time_from_day|escape}日
	  	{$time_from_hour|escape}時
	  	{$time_from_minit|escape}分
<!--   	{$time_from_seconds|escape}秒-->
<input type=hidden name="recreated" value="{$recreated|escape}">

</div>

	<div align="center">
	<input type="hidden" name="driver_id" value={$driver_id}>
	<input type=hidden name="edit" value="{$edit}">
	<input type="submit" name="submit" value="{$smarty.const.COMMON_SUBMIT}"></div>
	<div align="center">{$smarty.const.FORM_BACK}</div>
</FORM>

    <div id="map_canvas" style="width: 500px; height: 300px"></div>