<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!-- InstanceBegin template="/Templates/jp.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="EditRegion4" -->
<title>Smart動態管理 料金</title>
<meta name="keywords" content="動態管理システム,スマートフォン,クラウド,位置情報システム">
<meta name="description" content="Smart動態管理システム　利用許諾契約書">
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="superfish.css" media="screen">

<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>

<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<!--[if lt IE 7]>
  <link href="ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link rel="shortcut icon" href="images/favicon.ico" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29019560-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body id="page1">
<!-- InstanceBeginEditable name="js" --> <!-- InstanceEndEditable -->
<div id="main">

<h1>Smart動態管理 利用許諾契約書</h1>
<div>
	<p>このSmart動態管理利用許諾契約書（以下、「本契約」といいます）は、Smart動態管理（以下、「本ソフトウェア」といいます）を利用する個人、法人、団体または機関（以下、「お客様」といいます）と株式会社オンラインコンサルタント（以下、「オンラインコンサルタント」といいます）との間における契約です。もし、お客様が本契約に同意しないのであれば、本ソフトウェアをダウンロードしたり、インストールしたり、または利用してはなりません。お客様が本ソフトウェアをダウンロードしたり、インストールしたり、または利用した場合には、本契約に同意したものとみなされます。</p>
<h2>第1条　【定義】</h2>
<p>本契約において、以下の各用語は以下に定めるところによるものとします。</p>
<ul>
	<li><p>1.	ユーザー</p>
		<p>「ユーザー」とは、本ソフトウェアの機能をもって本ソフトウェアにより生み出される独自のログイン名を持つ個人を意味します。</p>
	</li>
	<li><p>2.	サーバー</p>
		<p>「サーバー」とは、Smart動態管理がインストールされた1台のコンピューター、またはSmart動態管理がインストールされた1台のコンピューターおよびウェブページの公開用に使用するコンピューターおよびデーターベース・サーバー用に使用するコンピューターから構成される1つのコンピューター群を意味します。</p>
	</li>
	<li><p>3.	アップデート</p>
		<p>製品の「アップデート」とは、現在のバージョンに対して小規模な機能の改良またはバグ修正を行うことを意味します。アップデートのリリースは、バージョン番号の小数点以下の変更によって確認できます。例えば、X.1からX.2のように変更されると、アップデートされたことを意味します。</p>
	</li>
	<li><p>4.	アップグレード</p>
		<p>「アップグレード」とは、製品の大規模なリリースのことで、新機能やソフトウェアの主要な機能性を向上させる改良を取り入れることを意味します。アップグレードのリリースは、バージョン番号の小数点以上の変更によって確認できます。例えば、4.Xから5.Xのように変更されると、アップグレードされたことを意味します。「アップデート」または「アップグレード」の何れかへの指定は、オンラインコンサルタントが決定するものとします。</p>
	</li>
</ul>
<h2>第2条　【本ソフトウェアの利用】</h2>
	<p>お客様は、本契約の定めに従い、本ソフトウェアを、お客様自身による利用（お客様が法人、団体または機関の場合、お客様による本契約に従った本ソフトウェアの利用として、お客様に所属する個人、またはこれに準じる者としてオンラインコンサルタントがライセンスポリシーにより認める範囲にある個人のうちお客様が指定する個人が本ソフトウェアを利用することを意味します）、非独占且つ譲渡禁止、再許諾不能の条件により利用できるライセンスを有するものとします。本契約に明記されている場合を除きお客様が第三者に対して本ソフトウェアの全部または一部の機能を提供することはできず、また、お客様は、いかなる利用目的であったとしても、本ソフトウェアの利用の対価を第三者から受領することはできません。オンラインコンサルタントは、お客様の利用が本契約に基づくものか否かを判断する権利を有することとします。オンラインコンサルタントは、本ソフトウェアに関する全ての権利（全ての知的財産権を含む）を保有し、本契約において明示的には許諾していない本ソフトウェアに関する全ての権利をも保有します。本ソフトウェアの利用は、オンラインコンサルタントもしくはオンラインコンサルタントが認定した販売代理店とお客様の間に締結された発注書に記載されているユーザー数およびサーバー数に限定されます。</p>
<h2>第3条　【複製の作成】</h2>
	<p>お客様は、バックアップを目的とした場合に限り、本ソフトウェアの複製を最小限必要な部数に限りあらゆる読込み可能な形式で作ることができます。但し、その場合には、本ソフトウェアをオリジナルと同じ形式で且つ権限者の表示とともに複製しなければなりません。なお、ここで明示的に許諾されていない本ソフトウェアに対するすべての権利は、オンラインコンサルタントが留保します。</p>
<h2>第4条　【テクニカル・サポート、アップデート、アップグレード】</h2>
<ul>
	<li>1.	お客様は、本ソフトウェアのライセンスが有効な期間、オンラインコンサルタントにより提供されるテクニカル・サポートを無償で受けられるものとします。</li>
	<li>2.	本ソフトウェアがアップデートまたはアップグレードとして提供された場合、お客様は、旧バージョンと新バージョンのいずれか一方を利用できるものとし、両バージョンを同時に利用することはできません。ただし、お客様は、本ソフトウェアのアップグレードがあったにもかかわらず、お客様が旧バージョンの利用を選択された場合、当該旧バージョンにかかる前３項に定めるテクニカル・サポートおよびアップデートは、オンラインコンサルタントの裁量によって終了されることがあることに同意します。</li>
</ul>
<h2>第5条　【コンプライアンス】</h2>
<p>お客様は、本ソフトウェアの利用に当って、全ての適用ある法律を遵守する方法によってのみ本ソフトウェアを利用することができることを理解し、同意するものとします。更に、お客様は、プライバシーおよび知的財産権に関する法律その他の規制に従って、本ソフトウェアを利用しなければなりません。お客様は、本契約の内容をユーザーに遵守させるものとし、ユーザーによる本契約についての違反は、お客様の違反とみなすことに同意するものとします。</p>
<h2>第6条　【禁止事項】</h2>
<p>お客様は、次の各号に定める行為を行ってはなりません。</p>
<ul>
	<li><p>1.	本ソフトウェアから派生するソフトウェアを配布すること（但し、APIおよびオンラインコンサルタントによって公開されたその他のプログラミング・インタフェースを使って書かれたプラグインおよびその他のアドインの配布は許可されます）。</p></li>
	<li><p>2.	本契約に定める以外の本ソフトウェアの複製。</p></li>
	<li><p>3.	本ソフトウェアについてのリバースエンジニアリング、デコンパイル、ディスアッセンブル、またはその他本ソフトウェアのソースコードもしくはアルゴリズムを再構築もしくは明らかにしようとする試み。</p></li>
	<li><p>4.	本ソフトウェアの全部もしくは一部、またはその複製を如何なる形態においても、第三者に販売、譲渡、ライセンス供与、開示、配布、その他の方法による移転等第三者が使用できるようにすること。</p></li>
	<li><p>5.	他者にホスティング・サービスを提供する目的、その他の有償又は無償でインターネット、システム等に関するサービスを提供することを業とする個人、法人、団体または機関に対してサービスを提供する目的で、本ソフトウェアを利用すること。</p></li>
	<li><p>6.	本ソフトウェア上の権限の表示または商標を削除または変更すること。</p></li>
</ul>
<h2>第7条　【個人情報・プライバシー保護】</h2>
<p>お客様がオンラインコンサルタントに提供した個人情報の全ては、http://www.sixapart.jp/privacy/にて公表されるプライバシー・ポリシーに基づき管理されます。本ソフトウェアを利用することにより、お客様がプライバシー・ポリシーを理解し、これに承諾したものとみなします。</p>
<h2>第8条　【オンラインコンサルタントによる保証】</h2>
<p>オンラインコンサルタントは本ソフトウェアの使用機会の逸失、データの滅失、業務の中断、またはあらゆる種類の損害（間接損害、特別損害、付随損害、派生損害、逸失利益を含む）に対して、一切責任を負いません。</p>
<p>オンラインコンサルタントは本ソフトウェアの利用によって、他の利用者および第三者に対して損害を与え、生じた侵害および紛争に対し、また、お客様自身に損害が生じ、発生した侵害および紛争に対して、一切責任を負いません。</p>

<h2>第9条　【ソフトウェアの機能についての保証の限定】</h2>
<ul>
	<li><p>1.	本ソフトウェアは、現状有姿の状態で提供され、明示的にも黙示的にも、何らの担保および保証をするものではありません。オンラインコンサルタントは、その商品性および特定目的の適合性についての黙示的な担保・保証に限らず、明示的または黙示的であるかを問わず、如何なる種類の担保・保証をも行うものではありません。</p></li>
	<li><p>2.	本ソフトウェアの品質、性能、インストール、使用に伴うプログラムエラー、装置の損傷、データやソフトウェアプログラムの消失、不稼動および中断等一切のリスクは、お客様の負担とします。本ソフトウェアの使用に関する適切性の判断は、お客様自身の責任で行うものとし、その使用による一切のリスクは、お客様の負担とします。</p></li>
</ul>
<h2>第10条　【終了】</h2>
<ul>
	<li>1.	お客様が本契約の規定に違反した場合、オンラインコンサルタントは、何等の催告を要することなく、本契約を終了させることができます。</li>
	<li>2.	本契約の終了と同時に、お客様に与えられていた利用許諾およびテクニカル・サポートは全て終了し、お客様は直ちに本ソフトウェアをアンインストールし、本ソフトウェアの一切の利用を中止することとし、また、オンラインコンサルタントの指示により、本ソフトウェアの一切の複製を消去または廃棄するものとします。この場合、本ソフトウェアおよびテクニカル･サポートについての利用の対価は、事由の如何を問わず、返金されないものとします。「ソフトウェアの機能についての保証の限定」、「免責」、「責任制限」および「一般規定」に関する事項は、本契約の終了後も有効とします。</li>
</ul>
<h2>第11条　【免責】</h2>
<p>お客様は、オンラインコンサルタント、その役員、従業員、代理人、子会社、関係会社およびその他のパートナーをお客様による本ソフトウェアの利用からおよびその他本ソフトウェアに関わり発生する如何なる直接的、間接的、偶発的、例外的、結果的、懲罰的損害についての責任から一切免責することに同意します。</p>
<h2>第12条　【責任制限】</h2>
<ul>
	<li>1.	お客様は、オンラインコンサルタントが損害発生の可能性を事前に通知した場合に限らず、いかなる場合も、利益の逸失、信用の失墜、不稼働、データ使用不能等に起因する損害、ならびにその他顕在化していない損害を含み、直接的、間接的、偶発的、例外的、結果的もしくは懲罰的損害に関して、オンラインコンサルタントが一切の責任を負わないことを明示的に理解し同意します。</li>
	<li>2.	管轄裁判所において、偶発的、間接的損害の責任の制限および免責が認められず、第１項の制限がお客様に適用されない場合に限らず、如何なる場合であっても、オンラインコンサルタントのお客様に対する累計損害賠償額は、直近12ヶ月間にお客様がオンラインコンサルタントに対して支払った料金額を上限とします。</li>
</ul>
<h2>第13条　【一般規定】</h2>
<ul>
	<li>1.	本契約は、日本法を準拠法とし、同法に従って解釈します。本契約は、お客様とオンラインコンサルタント間における契約の全てであり、本ソフトウェアのお客様の使用は本契約の定めに従うこととします。本契約は本契約成立以前の全ての合意事項に優先するものとします。</li>
	<li>2.	本契約に起因または関連するすべての紛争については、横浜地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
	<li>3.	本契約中の何れかの規定が、管轄裁判所において、法律に抵触すると判断された場合は、その規定は、法律の許す限り所期の目的を最大限達成するように変更または解釈されるものとし、本契約のその他の規定は、完全に有効とします。</li>
	<li>4.	お客様は、事前のオンラインコンサルタントの書面による承諾がない限り、本契約の契約上の地位または本契約に基づく権利もしくは義務について、譲渡、移転、担保設定その他の処分をすることはできず、これに反する譲渡、移転、担保設定その他の処分は無効です。</li>
	<li>5.	Smart動態管理、Smart動態管理ロゴ、オンラインコンサルタント、オンラインコンサルタントロゴ、オンラインコンサルタントの商標です。お客様は、事前のオンラインコンサルタントの書面による承諾なくして、これらの商標を如何なる方法によっても表示したり利用したりしないことに同意します。</li>
	<li>6.	お客様は、お客様の利益を著しく損なわない限度で、オンラインコンサルタントがお客様の同意なく本契約を変更または修正できることに同意します。</li>
	<li>7.	本契約における条文表題および番号は、便宜上のもので、法的効果はありません。</li>
</ul>
以上
</div>
</div>
</body>
<!-- InstanceEnd --></html>