{*配送先一覧*}
<h1>{$smarty.const.DESTINATION}{$smarty.const.VIEW_ALL}</h1>
<div class="div_list">
<div>
	<form method="get" action="index.php">
			<input type="text" name="query" value="{$query}" size=20>
			<input type="hidden" name="company_id" value={$company_id}>
			<input type="hidden" name="action" value="/destination/viewDestinations">
			<input type="submit" value="検索">
	</form>
	</div>
	{if $data}
	{*複数ページへ渡る場合のリンク*} 
	{foreach from=$links item="links"} 
		{$links}
	{/foreach}
	 {*PCの場合、テーブルで閲覧できる*} 
	 <div align="left">
	 	<a href="index.php?action=/destination/putDestination&company_id={$company_id}">
	 		{$smarty.const.DESTINATION} {$smarty.const.NEW_DATA} 
	 	</a></div>
</div>
<table class="report_table">
	<tr>
		<th>{$smarty.const.DESTINATION_NAME}</th>
		<th>{$smarty.const.COMMON_JYUSYO}</th>
		<th>{$smarty.const.DESTINATION_CATEGORY}</th>
		<th>{$smarty.const.DRIVER_OTHER}</th>
		<th>{$smarty.const.EDIT}/{$smarty.const.DELETE}</th>
	</tr>
	{foreach from=$data item="data"}
	<tr>
		<td><a href="index.php?action=/destination/viewDestination&destination_id={$data.id}&company_id={$company_id}" >
			{$data.destination_name}
			</a></td>
		<td>{$data.address}</td>
		<td>{$data.category_name}</td>
		<td>{$data.information}</td>
		<td><a href="index.php?action=/destination/putDestination&destination_id={$data.id}&company_id={$company_id}" >
		{$smarty.const.EDIT_ICON}</a>
		{if $carrier==NULL || $carrier == 'Android'|| $carrier =='iPhone'}
		{literal}
			<script type="text/javascript">
			<!--
			function check(){
				return confirm("この記録を消去して、本当によろしいですか？消去すると、元に戻りません。")
			}
			//-->
			</script>	
			{/literal}
		{/if}
		<a href="index.php?action=/destination/deleteDestination&id={$data.id}&company_id={$company_id}"  
		{literal}onclick="return check()"{/literal}>{$smarty.const.COMMON_DELETE_ICON}</a></td>
	</tr>
	{*データがない場合*} {foreachelse}
	<div>{$smarty.const.TOP_NODATA}</div>
	{/foreach}
</table>

{else if}
<div>{$smarty.const.TOP_NODATA}</div>
<div align="left"><a href="index.php?action=/destination/putDestination&company_id={$company_id}">配送先の追加はこちらから</a></div>
{/if}